@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

/* Propriedades do Header */

header {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 3px 5px white; */
    width: 100%;
    position: fixed;
    top: 0;
}

/* Iniciando o flex no Header */

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Logo da Neura Clean */

.neura-clean {
    color: white;
    width: 3rem;
}

.gambiarra, .div-nav {
    margin-left: 4.125rem;
}

/* ------------------------ */

/* Barra de navegação */

.div-nav {
    margin-right: 4.125rem;
}

/* Elementos de navegação (a) */

.nav-item,
.cliqueaqui {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 0.4rem;
    transition-duration: 1s;
}

/* Efeito passar mouse em cima do elemento (a) */

.nav-item:hover {
    transition-duration: 0.2s;
    color: #3ed14c;
}

/* ------------------------ */

/* CORPO */

.corpo {
    margin-top: 149px;
}

.corpo p {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}

.corpo h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/* Contextualização */

.image-bg {
    color: black;
    background-image: url('Fundo\ super\ hiper\ mega\ atualizado\ certo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.image-bg .e {
    width: 45%;
    color: white;
    font-size: 22px;
}

.image-bg h1 {
    width: 50%;
    color: white;
}

/* ------------------------ */

/* EQUIPE CARD */

#equipe-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#equipe-card h1 {
    font-size: 15px;
    padding: 10px 0 10px 0;
    width: 100%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    display: flex;
    flex-direction: column;
    border: 2px solid #3ed14c;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    width: 30vh;
    transition-duration: 1.5s;
    margin-bottom: 50px;
    box-sizing: border-box;
    cursor: pointer;
    height: 30%;
}

.fotoequipe {
    width: 101%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover {
    width: 33vh;
    transition-duration: 0.5s;
}

.linha-horizontal {
    width: 100%;
    border: 1px solid #3ed14c;
}

.ne {
    text-align: center;
    margin-top: 50px;
}

/* ------------------------ */

/* MISSÃO, VISÃO e VALORES */

.missao-visao-valores {
    margin-top: 50px;
    display: flex;
    background-color: #f6f6f6;
}

.ideais-img {
    width: 20vh;
    cursor: pointer;
}
 
.ideais p {
    font-size: 20px;
    width: 80%
} 

.missao, .visao, .valores {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* SONO */

.bg-img-sono {
    background-image: url('./foto.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    padding: 50px 0 200px 50px;
    margin-top: 50px;
}

#getIdeaisImg {
    cursor: pointer;   
}

/* ------------------------ */

/* Exercício */

#exercicio {
    width: 100%;
}

.exercicio-fundo-image {
    background-image: url('./Exercício\ fundo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0 0 400px 20px;
    margin-top: 50px;
}

.teste {
    margin-left: 33%;
}


/* MEDIA QUERY IDEAIS */

@media(max-width: 768px) {
    .ideais {
        width: 100%;
    }

    .missao-visao-valores {
        align-items: center;
        width: 100%;
        flex-direction: column;  
    }

    .visao {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .ideais p {
        width: 100%;
    }
}

/* MEDIA QUERY CARDS */

@media(max-width: 768px) {
    .ne {
        font-size: 40px;    
    }

    .cards h1 {
        font-size: 40px;
    }

    .cards .nome-equipe {
        align-items: center;
        margin-top: 0;
    }
    
    .nome-equipe {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
    }

    #equipe-card {
        align-items: center;
        flex-direction: column;
    }

    .cards {
        margin-bottom: 10px;
    }
}