@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

/* Propriedades do Header */

header {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 3px 5px white; */
    width: 100%;
    position: fixed;
    top: 0;
}

#home {
    filter: grayscale(0%);
}

/* Iniciando o flex no Header */

.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Logo da Neura Clean */

.neura-clean {
    color: white;
    width: 3rem;
}

.gambiarra {
    margin-left: 4.125rem;
}

/* ------------------------ */

/* Barra de navegação */

.div-nav {
    margin-right: 4.125rem;
}

/* Elementos de navegação (a) */

.nav-item,
.cliqueaqui {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 0.4rem;
    transition-duration: 1s;
}

/* Efeito passar mouse em cima do elemento (a) */

.nav-item:hover {
    transition-duration: 0.2s;
    color: #3ed14c;
}

/* ------------------------ */

/* CORPO */

.corpo {
    margin-top: 149px;
}

.corpo p {
    font-size: 20px;
    padding: 15px;
    font-weight: bold;
}

.corpo h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/* Contextualização */

.image-bg {
    color: black;
    background-image: url('./Fundo\ super\ hiper\ mega\ atualizado\ certo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

.image-bg .e {
    width: 45%;
    color: white;
    font-size: 22px;
}

.image-bg h1 {
    width: 50%;
    color: white;
}

/* ------------------------ */

/* EQUIPE CARD */

#equipe-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#equipe-card h1 {
    font-size: 15px;
    padding: 10px 0 10px 0;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    display: flex;
    flex-direction: column;
    border: 2px solid #3ed14c;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    width: 29vh;
    transition-duration: 1.5s;
    margin-bottom: 100px;
    box-sizing: border-box;
    cursor: pointer;
}

.fotoequipe {
    width: 101%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover {
    width: 33vh;
    transition-duration: 0.5s;
}

.linha-horizontal {
    width: 100%;
    border: 1px solid #3ed14c;
}

.ne {
    text-align: center;
    margin-top: 15px;
}

/* ------------------------ */

/* IMG, MISSÃO, VISÃO e VALORES */

.ideais {
    background-color: #dbd9d9; /* #f6f6f6 */
    padding: 20px;
}

.imgs {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.mission-img,
.visao-img,
.valores-img {
    width: 10%;
}

.flex {
    display: flex;
    align-items: center;
}

.imgs h1 {
    text-align: start;
    color: #000000;
}

.espaco {
    margin: 20px 0 20px 0;
}

/* SONO */

.bg-img-sono {
    background-image: url('./foto.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    text-align: center;
    padding: 50px 0 200px 50px;
}

/* B */

html,
body {
    height: 100%;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(
        90deg,
        rgba(129, 230, 217, 1) 0%,
        rgba(79, 209, 197, 1) 100%
    );
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

/* MEDIA */
